body{
  font-family: Lucida Console, Monospace;
}

.heading{
  background-color: #558da8;
  text-align: center;
  border: double 7px #a6d0e4;
  padding: 3px; 
  margin: 40px;
  font-size: 20px;
  text-shadow: 2px 2px 8px #20353f;
}
.text{
  color: black;
  border: double 7px #a6d0e4;
  border-radius: 10px; 
  background: #6ab0d2; 
  padding: 20px; 
  margin: 100px; 
  margin-top: 50px;
  opacity: .8;
}

