body{
  background-color: #e4ebfb;
  font-family: Monospace,	Monaco;
   background-image: url("https://i.etsystatic.com/12668519/r/il/edb00e/3151901371/il_fullxfull.3151901371_4w99.jpg");
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c26a8a;
}

li {
  float: left;
  
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #f9bfd4;
}

.p1{
  color: #d27092;
  border-radius: 10px; 
  background: #ffebf3; 
  padding: 20px; 
  margin: 50px; 
  opacity: .8;
  text-align: center;
}

.p2{
  color: #d27092;
  border-radius: 10px; 
  background: #ffebf3; 
  padding: 20px; 
  margin: 50px; 
  opacity: .8;
  text-align: center;
}

img{
  width: 250px;
  height: 250px;
}
